<article class="base-card__list__card">
  <div class="base-card__list__card__image">
    <div class="base-card__list__card__image__element"></div>
  </div>
  <div class="base-card__list__card__body">
    <h2 class="mt-0 mb-1">
      Elon musk la vuelve a liar con la ia haciendo cosas de ia
    </h2>
    <p class="mt-0 mb-1">
      Texto a cerca de la persona asdfasdf asdfasdf asdf asdf asd fasdf asdf
      asdf Texto a cerca de la persona asdfasdf asdfasdf asdf asdf asd fasdf
      asdf asdf
    </p>
  </div>
</article>
