<article class="base-card__list__card">
  <div class="base-card__list__card__image">
    <img src="/static/images/dummy.png" width="100%" />
  </div>
  <div class="base-card__list__card__body">
    <h2 class="mt-0 mb-1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </h2>
    <p class="mt-0 mb-1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima autem
      voluptates assumenda soluta illo modi repellendus vitae veniam quos?
      Fugiat omnis, nam ipsum reiciendis dignissimos dolorem maiores sed rem
      laudantium!
    </p>
  </div>
</article>
