<article class="base-card__list__card">
  <div class="base-card__list__card__image">
    <img src="/static/images/dummy.png" width="100%" />
  </div>
  <div class="base-card__list__card__body">
    <div style="display: flex; align-items: center">
      <h2 class="mt-0 mb-0">Jose Pena Seco</h2>
      <a target="_blank" href="https://www.linkedin.com/in/josepe%C3%B1aseco/"
        ><i class="fa-brands fa-linkedin ml-2" style="color: #0077b5"></i
      ></a>
    </div>
    <h4 class="mt-0 mb-1">Co-founder</h4>
    <p class="mt-0 mb-1">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc arcu quam,
      suscipit in iaculis nec, condimentum sed mauris. Curabitur vulputate
      aliquam justo sit amet ornare. Fusce molestie odio ut nibh laoreet
      venenatis
    </p>
  </div>
</article>
