<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <img width="200px" src="/static/images/logo.png" />
    </div>
    <div class="footer__copyright"><h5>©IAcademy SA 2023</h5></div>
    <div class="footer__social-media">
      <p class="mb-1">Follow us:</p>
      <div class="footer__social-media__list">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-square-instagram"></i>
      </div>
    </div>
  </div>
</footer>
