<div class="header">
  <a href="/">
    <img class="header__logo" src="/static/images/logo.png" />
  </a>
  <ul class="header__navigation">
    <li class="header__navigation__element header__navigation__element--active">
      <a href="/">Home</a>
    </li>
    <li class="header__navigation__element">
      <a href="/documentation">Documentation</a>
    </li>
    <li class="header__navigation__element">
      <a href="/about_us">About us</a>
    </li>
    <li class="header__navigation__element"><a href="/news">News</a></li>
  </ul>
  <div class="header__buttons">
    <a class="header__buttons__register" href="/register">Register</a>
    <a class="header__buttons__login" href="/login">Log in</a>
  </div>
</div>
