.team {
  &__title {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    gap: 20px;

    &__card {
      flex: 1;
      border-radius: 20px;
      overflow: hidden;
      background-color: white;

      &__image {
        width: 100%;
        height: 300px;
        overflow: hidden;

        &__element {
          transform: scale(1.3);
          width: 100%;
          height: 100%;
          background-position: center;

          background-size: cover;
          background-image: url("/static/images/pepe.jpg");
          background-repeat: no-repeat;
        }
      }
      &__body {
        &__container {
          padding: 50px;
          min-height: 100%;
        }
        padding: 30px;
      }
    }
  }
}
