@import "../theme/colors.scss";

.hero {
  &--reverse {
    flex-flow: row-reverse;
  }
  display: flex;
  width: 100%;
  align-items: center;
  &__left {
    flex: 1;
    color: $text-primary;

    h1 {
      margin: 0px !important;
      padding: 0px !important;
      font-size: 40px;
    }

    h3 {
      font-weight: 400;
      color: $text-secondary;
    }

    &__buttons {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  &__right {
    flex: 1;
    color: $text-primary;
  }
}

.brands {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-items: center;

  &__title {
    color: $text-primary;
    font-weight: 500;
  }
  &__list {
    display: flex;
    justify-content: center;
    gap: 50px;

    &__item {
      width: 100%;
      max-width: 200px;
    }
  }
}
