@import "../theme/colors.scss";

.login {
    background-color: $background-primary;

    h2 {
        font-size: xx-large;
        margin: 0px;
    }

    &__form {
        padding: 70px 100px; 
        display: flex; 
        flex-direction: column; 
        gap: 30px;
    }

    &__text {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        i {
        color: $text-secondary;
        }
    }

    &__button {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgba($brand, 0.20);
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
        
        &:active {
            background-color: rgba($brand, 0.40);
        }
        p {
            color: $brand;
            font-weight: 600;
        }
    }

    &__filler{
        background-color: $brand;
        float: right;
    }
}

#login__header {
    padding: 19px;
    display: block;
}

#login__body {
    min-height: 100vh; 
    display: grid; 
    grid-template-columns: 2fr 3fr;
    background-color: $brand;
}
